*
{
    padding: 0;
    margin: 0;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Bangladesh */
.heading {
  color: #f2f2f2;
  position: absolute;
  top: 350px;
  right: 475px;
  font-family: 'Courier New', Courier, monospace, Impact, bold;
  font-size: 90px;
}
/* Introduction */
.intro
{
  color: #f2f2f2;
  position: absolute;
  top: 450px;
  left: 560px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
/* Logo */
.logo img {
  top: 5px;
  left: 55px;
  width: 120px;
  position:absolute;
}
/* Sign In*/
.signIn-btn {
  width: 100px;
  position: absolute;
  top: 45px;
  right: 50px;
  padding: 5px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
}
.signIn-btn:hover {
  color: black;
  border-color: black;
}
/* Search */
.input-group {
  width: 90%;
  max-width: 500px;
  border-radius: 30px;
  background: #fff;
  margin: auto;
  padding: 2px;
  top: 510px;
  left: 7px;
}
.form-control {
  border: 0 !important;
  border-radius: 30px !important;
  margin: 2px;
  box-shadow: none !important;
}
.input-group-text {
  width: 100px;
  background-image: linear-gradient(rgb(243, 207, 130),rgb(240, 213, 61));
  border: 0 !important;
  color: rgb(0, 0, 0) !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}

/* Vlog */
.vlog {
  position: absolute;
  top: 50px;
  right: 215px;
  outline: none !important;
  border: none;
  background: transparent;
  color: #fff;
  float: right;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}
.vlog:hover {
  color: black;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 22px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: 47px;
  right: 330px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.75;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: black;}

/* Welcome */
.welcome {
  padding: 90px 0;
}
.welcome h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green
}
.welcome p {
  margin: 37px 19%;
  text-align: left;
  font-style: italic;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif, monospace;
  color: black;
}
hr.line {
  margin: 0px 45%;
  border: 2px solid red;
}
/* Top Places */
.top_places h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green
}
hr.tline {
  margin: 0px 45%;
  border: 2px solid red;
}
.feature-img img {
  width: 100%;
  margin: 60px -70px;
}
.no1 {
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  font-weight: 600;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  box-shadow: 0 0 10px 1px black;
  left: 100px;
  bottom: 190px;
}