*
{
    padding: 0;
    margin: 0;
}
.header
{
    height: 100%;
    background-image: url(imgs/Tanguar_Haor2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px; 
    text-align: center;
    color: #fff;
}
.header img
{
    width: 120px;
    float: left;
}
.signIn-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}
.header h1
{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;
}
.header p
{
    margin: 18px 0;
    color: black;
}
.input-group
{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control
{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text
{
    width: 100px;
    background-image: linear-gradient(rgb(243, 207, 130),rgb(240, 213, 61));
    border: 0 !important;
    color: rgb(0, 0, 0) !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
.welcome
{
    padding: 90px 0;
}
.welcome h1
{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Gill Sans';
    color: green
}
.welcome p
{
    margin: 37px 19%;
    text-align: left;
    font-style: italic;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif, monospace;
    color: rgb(0, 12, 82);
}
hr.line
{
    margin: 0px 45%;
    border: 2px solid red;
}
.top_places h1
{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Gill Sans';
    color: green
}
hr.tline
{
    margin: 0px 45%;
    border: 2px solid red;
}
.feature-img img
{
    width: 100%;
    margin: 60px -70px;
}
.no1
{
    width: 50px;
    height: 50px;
    background: white;
    color: black;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 10px 1px black;
    left: 100px;
    bottom: 190px;
}