*
{
    padding: 0;
    margin: 0;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Bangladesh */
.heading {
  color: #f2f2f2;
  position: absolute;
  top: 350px;
  left: 485px;
  font-family: 'Courier New', Courier, monospace, Impact;
  font-size: 90px;
}
/* Introduction */
.intro
{
  color: #f2f2f2;
  position: absolute;
  top: 450px;
  left: 560px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

/* Sign In*/
.signIn-btn {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 35px;
  padding: 5px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}

.signIn-btn:hover {
  color: black;
  border-color: black;}
/* Search */
.input-group {
  width: 90%;
  max-width: 500px;
  border-radius: 30px;
  background: #fff;
  margin: auto;
  padding: 2px;
  top: 510px;
  left: 7px;
}
.form-control {
  border: 0 !important;
  border-radius: 30px !important;
  margin: 2px;
  box-shadow: none !important;
}
.input-group-text {
  width: 100px;
  background-image: linear-gradient(rgb(243, 207, 130),rgb(240, 213, 61));
  border: 0 !important;
  color: rgb(0, 0, 0) !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}
/* Welcome */
.welcome {
  padding: 90px 0;
}
.welcome h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green
}
.welcome p {
  margin: 37px 19%;
  text-align: left;
  font-style: italic;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif, monospace;
  color: black;
}
hr.line {
  margin: 0px 45%;
  border: 2px solid red;
}
/* Top Places */
.top_places h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green
}
hr.tline {
  margin: 0px 45%;
  border: 2px solid red;
}
.feature-img img {
  width: 100%;
  margin: 60px -70px;
}
.no1 {
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  font-weight: 600;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  box-shadow: 0 0 10px 1px black;
  left: 100px;
  bottom: 190px;
  }
  
  .menu{
    position: absolute;
    width: 100%;
    background: transparent;
    padding: 0 150px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .menu img{
    float: left;
    margin-right: 10px;
    width: 90px;
  }
  nav{
    position: relative;
    float: right;
  }
  nav ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    display: block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    text-decoration: none;

  }
  nav ul li a:hover{
    background: transparent;
    color: #fff;
  }
  nav ul li ul{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    min-width: 150px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px, rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(40px);
  }
  nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  nav ul li ul li a{
    display: block;
  }