*
{
    padding: 0;
    margin: 0;

}
/* Background */
.header
{
  background-image: url(imgs/Jaflong_Scenario.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wh;
  padding-top: 20px; 
  color: #fff;
}
/* Sylhet */
.header h1
{
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 420px;
  left: 1%;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 90px;
}
/* Intro */
.header h2
{
  color: #ffffff;
  position: absolute;
  top: 520px;
  left: 1%;
  text-align: center;
  font-family: 'Lobster', cursive;
  opacity: 0.9;
}
/* Navigation Bar */
.menu {
  position: absolute;
  background: transparent;
  top: 20px;
  right: 20px;
}

nav {
  position: relative;
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  text-decoration: none;

}
nav ul li a:hover {
  background: transparent;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
nav ul li ul {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  min-width: 150px;
  position: absolute;
  margin-top: 1px;
  box-shadow: 0 2px 5px, rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(40px);
}
nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
nav ul li ul li a {
  display: block;
}
/* Logo */
.logo img {
  top: 5px;
  left: 1%;
  width: 120px;
  position:absolute;
}


/* Welcome */
.welcome {
  padding: 90px 0;
}
.welcome h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green;
}
.welcome p {
  margin: 37px 19%;
  text-align: left;
  font-style: italic;
  font-size: 30px;
  font-family: 'Source Serif Pro', serif;;
  color: black;
}
hr.line {
  margin: 0px 45%;
  border: 2px solid red;
}

/* Top_places */
.container {
  padding: 50px 0;
}
.top_places h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green;

}

hr.line {
  margin: 0px 45%;
  border: 2px solid red;
}

.container{
  max-width: 1200px;
  margin: auto;
  overflow: auto;

  
}
.columns{
  column-count: 3;
  column-rule: dotted 1px #333;
  list-style-type: none;

}


.Top_places{
  margin: 5px;
  border: 1px solid rgb(255, 255, 255);
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Top_places:hover {
  border: 1px solid rgb(138, 138, 138);
}
.Top_places img{
  width: 100%;
  height: auto;
}
.desc{
   padding: 8px;
   text-align: center;
   background: rgb(210, 213, 214);
}

.desc a{
  text-decoration: none;
}

.desc a:hover{
  text-decoration: none;
  color: rgb(9, 9, 163);
}