*
{
    padding: 0;
    margin: 0;

}
/* Background */
.header
{
  background-image: url(imgs/lalakhal.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
  width: 98.9vw;
  padding-top: 20px; 
  color: #fff;
}
/* Ratargul */
.header h1
{
  color: rgba(255, 255, 255, 0.85);
  position: center;
  top: 420px;
  left: 1%;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 90px;
}


/* Logo */
.logo img {
  top: 5px;
  left: 1%;
  width: 120px;
  position:absolute;
}


#wrapper{
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  margin-top: 20px;
  max-width: 1200px; /* 2 */

  padding-right: 0px; /* 3 */
  padding-left:  0px; 
  background-color: rgb(247, 248, 225);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

/* Overview */
.overview {
  padding: 90px 0;
}
.overview h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green;
}
hr.line {
  margin: 0px 45%;
  border: 2px solid red;
}
.overview p {
  margin: 37px 9%;
  text-align: left;
  font-size: 25px;
  font-family: 'Source Serif Pro', serif;
  color: black;
}
#more{
  display: none;
}

/*read more*/
.b{
  position: relative;
  text-transform: uppercase;
  background-image: url(imgs/background-watercolour-button.png);
  background-repeat: no-repeat;
  color: rgb(73, 72, 72);
  padding: 4px 16px 8px 0px ;
  width: 125px;
  font-family: open sans;
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  margin-top: 1rem;
  left: 45%;
  border: none;
  opacity: 0.7;
}

button:focus,button:active{
  outline: none;
  outline: 0;
  outline: none !important;
  outline: 0 !important;
}
button:hover {
  color: rgb(0, 0, 0);
}

/*Plan*/

.plan h1{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green;  
}
.collapsible {
  background-color:transparent;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.active, .collapsible:hover {
  text-decoration: underline;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  font-size: 30px;
  float: left;
  margin-right: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fdfff0;
  font-family: 'Source Serif Pro', serif;
  font-size: 23px;
  margin-bottom: 15px;
}
.near h1{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Gill Sans';
  color: green;  
}